.header-adjustments{
    height: 120px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 90px;
}
.nav{
    width: 60%;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid transparent;
    height: 100%;
}
.active{
    border-bottom: 3px solid $brand_main_color;
    color: $brand_main_color;
}
li{
    font-size: 0.8rem;
    font-weight: bold;
    height: 100%;
}
a{
    color: black;
}